<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <title>Error 404</title>
        <!-- meta tags -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="meta description" />
        <link rel="shortcut icon" href="/assets/img/iStorelogo.png" type="image/x-icon" />
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
            rel="stylesheet" />
        <!-- all css -->
        <style>
            :root {
                --primary-color: #00234d;
                --secondary-color: #f76b6a;

                --btn-primary-border-radius: 0.25rem;
                --btn-primary-color: #fff;
                --btn-primary-background-color: #00234d;
                --btn-primary-border-color: #00234d;
                --btn-primary-hover-color: #fff;
                --btn-primary-background-hover-color: #00234d;
                --btn-primary-border-hover-color: #00234d;
                --btn-primary-font-weight: 500;

                --btn-secondary-border-radius: 0.25rem;
                --btn-secondary-color: #00234d;
                --btn-secondary-background-color: transparent;
                --btn-secondary-border-color: #00234d;
                --btn-secondary-hover-color: #fff;
                --btn-secondary-background-hover-color: #00234d;
                --btn-secondary-border-hover-color: #00234d;
                --btn-secondary-font-weight: 500;

                --heading-color: #000;
                --heading-font-family: 'Poppins', sans-serif;
                --heading-font-weight: 700;

                --title-color: #000;
                --title-font-family: 'Poppins', sans-serif;
                --title-font-weight: 400;

                --body-color: #000;
                --body-background-color: #fff;
                --body-font-family: 'Poppins', sans-serif;
                --body-font-size: 14px;
                --body-font-weight: 400;

                --section-heading-color: #000;
                --section-heading-font-family: 'Poppins', sans-serif;
                --section-heading-font-size: 48px;
                --section-heading-font-weight: 600;

                --section-subheading-color: #000;
                --section-subheading-font-family: 'Poppins', sans-serif;
                --section-subheading-font-size: 16px;
                --section-subheading-font-weight: 400;
            }
        </style>

        <link rel="stylesheet" href="/assets/css/vendor.css" />
        <link rel="stylesheet" href="/assets/css/style.css" />
    </head>

    <body>
        <div class="body-wrapper">
            <main id="MainContent" class="content-for-layout">
                <div class="error-page mt-100">
                    <div class="container">
                        <div class="error-content text-center">
                            <div class="error-img">
                                <img style="width: 250px; height: 100px" src="/assets/img/error/error.png" alt="error" />
                            </div>
                            <p class="error-subtitle">Page Not Found</p>
                            <a href="/" class="btn-primary mt-4">BACK TO HOMEPAGE</a>
                        </div>
                    </div>
                </div>
            </main>
            <!-- all js -->
            <script src="assets/js/vendor.js"></script>
            <script src="assets/js/main.js"></script>
        </div>
    </body>
</html>
