<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Admin Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/iStorelogo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- Template CSS -->
    <link href="admin-assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/dashboard" class="brand-wrap">
               <p style="color: black; font-size: x-large; font-weight: 800;"> i Store</p>
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Menu</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/productList">PRODUCT</a>
                        <a href="/admin/viewcategory">CATEGORY</a>
                        <a href="/admin/userManagement">USER</a>
                        <a href="/admin/coupon">COUPON</a>
                        <a href="/admin/banner">BANNER</a>
                        <a href="/admin/offerList">OFFER</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/orderList"> <i class="icon material-icons md-local_shipping"></i>
                        <span class="text">Order</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/salesReport"><i class="icon material-icons md-insert_drive_file"></i>
  
                        <span class="text">Sales Report</span>
                    </a>
                </li>
                
            <hr>
            
               
                <li class="menu-item">
                    <a class="menu-link" href="/admin/logout"> <i class="icon fa fa-sign-out"></i>
                        <span class="text"> Logout </span>
                    </a>
                </li>
         
            <br>
            <br>
        </nav>
    </aside>

    <main class="main-wrap">
       
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Category</h2>
                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <p id="ErrorMessage" class="alert-message" style="text-align: center; color:red ;"></p>

                            <!-- Sucess -->
                            <% if (Message !=='undefined') { %>
                             <div class="alert-success" style="text-align: center;" role="alert">
                                 <%- Message %>
                             </div>
                             <script>
                               // Set a timeout to hide the success message after 4 seconds
                               setTimeout(function() {
                                   var successAlert = document.querySelector('.alert-success');
                                   if (successAlert) {
                                       successAlert.style.display = 'none';
                                   }
                               }, 4000); // 4000 milliseconds = 4 seconds
                           </script>
       
       
                            <% } %>
                             <p class="danger-message"></p>
                             </div>
                     
                        <div class="card-body">
                            <form action="/admin/createCategory" method="post" enctype="multipart/form-data" onsubmit="return addCategoryvalidate()">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Category Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="name" name="name">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" id="description" name="description"></textarea>
                                </div>
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <h4>Image</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-upload">
                                            <img src="admin-assets/imgs/theme/upload.svg" alt="">
                                            <input class="form-control" type="file" id="images" name="images">
                                        </div>
                                    </div>
                                </div> 
                             
                                <div>
                                  <button type="submit" class="btn btn-primary">Add category</button>
                              </div>
                            </form>
                        </div>
                    </div> <!-- card end// -->

                    
                </div>
              
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="admin-assets/js/vendors/select2.min.js"></script>
    <script src="admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="admin-assets/js/main.js" type="text/javascript"></script>
    <script src="admin-assets/js/addCategoryValidation.js"></script>
</body>

</html>