<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>iStore Admin Login</title>
    <link rel="stylesheet" href="/assets/css/adminLogin.css">
</head>
<body>

      <div class="login-container">
        <h2>Admin Login</h2>
        <form action="/admin" method="post">
            <div class="input-container">
                <input type="text" name="email" id="email"  required>
                <label for="username">Email</label>
            </div>
            <div class="input-container">
                <input type="password" id="password" name="password" required>
                <label for="password">Password</label>
                <span class="password-toggle" id="togglePassword" style="display: none;">
                    <i class="fa-solid fa-eye-slash" style="color: #050505;"></i>
                </span>
            </div>
             <!-- Error -->
                
             <% if (errorMessage) { %>
              <div class="danger-message text-center" role="alert">
                  <%- errorMessage %>
              </div>
            <% } %>
            
            <p class="danger-message"></p>
            <button type="submit">Login</button>
        </form>
    </div>    
        <script src="/assets/js/adminLogin.js"></script>
        
</body>
</html>
