/* Style the container for the form */
.container {
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  
}

/* Style the form headings */
h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Style form labels */
label {
  font-weight: bold;
}

/* Style form input fields */
.form-control {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

/* Style the submit button */
.btn-primary {
  background-color:#333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the submit button on hover */
.btn-primary:hover {
  background-color: #555;
}

/* Add some spacing between form elements */
.form-group {
  margin-bottom: 10px;
}

/* Style the file input field */
.form-control-file {
  padding: 5px;
}
#category{
  height:fit-content
}
