.shadow-box {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid #a8a7a8;
  text-align: center;
  width:60%;
  margin: 0 auto;
}

.label-form {
  display: block;
  margin: 10px 0;
 text-align: left;
 padding-left: 10%;

}

input[type="text"] {
  width: 80%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}       
.alert-message{
  color: #ff0000;
 text-align: center;
 font-family: Arial,sans-serif;

}

