
/* -----category view----- */

.custom-navbar {
  background-color: #071C1F; /* Set the background color to #071C1F */
}
.navbar-brand{
  color: #fff;
}

body {
  font-family: Arial, sans-serif;
}


.table-container {
  width: 100%; /* Set a fixed width for the table container */
  margin: 20px auto;
  overflow-x: auto; /* Enable horizontal scrolling when needed */
  
}
.table-head{
  background-color: #000;
  color: #bdb7b7;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  border: 1px solid #ddd;
  min-width: 100px; 
}

th {
  background-color:#fff;
}


  /* Styles for the Success Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 
  z-index: 1;
}

.modal-content {
  background-color: #fff;
  width: 350px;
  margin: 20% auto;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
 
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.btn-unlist , .edit-btn{
  color: #fff;
  background-color: #098179;
  border-radius: 3px;
  border: 1px solid #098179;
  width:80px;
  height: 30px;
  
 
}

.pagination {
  display: flex;
  justify-content: end;
  flex-direction: row;
  margin-top: 20px;
}


/* Style for the "Previous" link */
.pagination a.prev {
  padding: 5px 10px;
  background-color: transparent;
  text-decoration: none;
   margin-right: 10px;
   font-size: larger;
  font-weight: 300
}


.pagination a.next {
  padding: 5px 10px;
  background-color: transparent;
  text-decoration: none;
  font-size: larger;
  font-weight: 300
  
}

/* Hover effect for the links */
.pagination a.prev:hover,
.pagination a.next:hover {
  color: black;
}


.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-count{
  font-size: larger;
  font-weight: 300
}